:root {
  --main-light-color: #fdd14f;
  --main-dark-color: #30242e;
  --main-accent-color: #ee6d9a;
  --secondary-accent-color: #9771f4;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Kaisei HarunoUmi", serif;
}

.secondary-heading {
  font-family: var(--main-font);
  font-size: 45px;
  letter-spacing: 1px;
  color: var(--main-light-color);
}

.text-color {
  color: var(--main-dark-color);
  font-family: var(--secondary-font);
}

.active {
  font-weight: bold !important;
}

.center {
  text-align: center;
}

.hero {
  background-color: var(--main-accent-color);
  height: 63vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-hero {
  background-color: var(--main-accent-color);
}

.main-intro {
  color: var(--main-light-color);
  font-family: var(--main-font);
  text-align: center;
  max-height: 30vh;
}

.main-intro h1 {
  font-size: 60px;
}

.certifcates {
  transition: ease-in-out 400ms;
}

.certificates:hover {
  border: solid 3px var(--main-light-color);
  cursor: pointer;
}

.personal-photo {
  max-width: 100%;
  height: auto;
  max-height: 350px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.about-link {
  text-decoration: none;
  color: var(--main-light-color);
  transition: ease-in-out 200ms;
}

.about-padding {
  padding: 90px 12px;
}

.about-link:hover {
  text-decoration: underline;
  /* font-weight: bolder; */
  color: var(--main-light-color);
}

.image-flex-container {
  display: flex;
  align-items: center;
}

.projects-flex-container {
  display: flex;
  justify-content: flex-end;
}

.projects-hero {
  background-color: var(--main-accent-color);
}

.project-photo {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  padding: 6px;
}

.project-photo:hover {
  border: solid 2px var(--main-light-color);
}

@media (min-width: 1200px) {
  .container-mod {
    max-width: 1140px;
  }
}

@media (max-width: 414px) {
  .secondary-heading,
  .text-color {
    text-align: center;
  }

  .secondary-heading {
    padding-top: 10px;
  }

  .flex-container {
    justify-content: center;
    padding: 0px;
  }

  .about-padding {
    padding: 30px 12px;
  }

  .personal-photo {
    max-width: 100%;
    height: auto;
    max-height: 200px;
  }

  .about-me {
    padding-right: 12px !important;
  }
}
